{% extends "base.html" %}
{% block content %}
<div class="row m-3">
  <div class="card col-sm-5 me-3 mb-3 bg-light">
    <h5 class="card-header">Information sur contraventions:</h5>
    <div class="card-body">
      <form action="{{ url_for('contrevenants.search_contrevenants') }}" method="get">
        <div class="row">
          <div class="col-6 mb-3">
            <label for="owner">Owner</label>
            <input type="text" class="form-control" id="owner" name="owner">
          </div>
          <div class="col-6 mb-3">
            <label for="establishment">Establishment</label>
            <input type="text" class="form-control" id="establishment" name="establishment">
          </div>
          <div class="col-6 mb-3">
            <label for="road">Rue ou address</label>
            <input type="text" class="form-control" id="address" name="address">
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Rechercher</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card col-sm-5 mb-3 bg-light">
    <h5 class="card-header">Nombre de contraventions par etablisment au cours d'une duree:</h5>
    <div class="card-body">
      <form id="date-search-form" class="row">
        <div class="col-6">
          <label for="start_date">Du</label>
          <input type="date" class="form-control" id="start_date" name="du">
        </div>
        <div class="col-6">
          <label for="end_date">Au</label>
          <input type="date" class="form-control" id="end_date" name="au">
        </div>
        <div>
          <button type="submit" class="btn btn-primary mt-3">Rechercher</button>
        </div>
      </form>
    </div>
  </div>
  <div class="card col-sm-5 mb-3 bg-light">
    <h5 class="card-header">Contraventions d'un etablisment:</h5>
    <div class="card-body">
      <form id="establishments-violations-search" class="row">
        <div>
          <input class="form-select" list="brow" id="etablisment">
          <datalist id="brow">
            {% for establishment_name in establishments %}
              <option value="{{ establishment_name }}"></option>
            {% endfor %}
          </datalist>  
        </div>
        <div>
          <button type="submit" class="btn btn-primary mt-3">Rechercher</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 mt-3" id="results"></div>
</div>
<script>
$(document).ready(function() {
  $('#date-search-form').submit(function(event) {
    event.preventDefault();
    
    var start_date = $('#start_date').val();
    var end_date = $('#end_date').val();
    
    $.ajax({
      url: '/contrevenants',
      method: 'GET',
      data: {
        du: start_date,
        au: end_date
      },
      success: function(response) {
        if (response.length === 0) {
          $('#date-search-results').html('<p>Aucune contravention trouvée</p>');
          return;
        }
        var tableHtml = '<table class="table"><thead><tr><th>Nom</th><th>Nombre de contraventions</th></tr></thead>';

        for (var i = 0; i < response.length; i++) {
          var violation = response[i];
          tableHtml += '<tr><td>' + violation.establishment + '</td><td>' + violation.violations_count + '</td><tr>';
        }
        tableHtml += '</table>';
        $('#results').html(tableHtml);
      }
    });
  });

  $('#establishments-violations-search').submit(function(event) {
    event.preventDefault();
    
    var establishment_name = $('#etablisment').val();
    console.log(establishment_name)
    
    $.ajax({
      url: `/contrevenants/search`,
      method: 'GET',
      contentType: 'application/json',
      data: {
        establishment: establishment_name
      },
      success: function(response) {
        var table = '<table class="table table-striped"><thead><tr><th>ID</th><th>ID Entreprise</th><th>Catégorie</th><th>Description</th><th>Adresse</th><th>Ville</th><th>Établissement</th><th>Propriétaire</th><th>Montant</th><th>Date</th><th>Date de Jugement</th><th>Statut</th><th>Date de Statut</th></tr></thead>';
    for (var i = 0; i < response.length; i++) {
      var violation = response[i];
      table += '<tr><td>' + violation.remote_id + '</td><td>' + violation.business_id + '</td><td>' + violation.category + '</td><td>' + violation.description + '</td><td>' + violation.address + '</td><td>' + violation.city + '</td><td>' + violation.establishment + '</td><td>' + violation.owner + '</td><td>' + violation.amount + '</td><td>' + violation.date + '</td><td>' + violation.judgement_date + '</td><td>' + violation.status + '</td><td>' + violation.status_date + '</td></tr>';
    }
    table += '</table>';
    $('#results').html(table);
      }
    });
  });
});
</script>
{% endblock %}
